/* body {
    font-family: Arial, Helvetica, sans-serif
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: rgb(0, 0, 151) ;
}
.sidebar header{
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: rgb(40, 42, 133);
    user-select:none ;
}
.sidebar ul a{
    height: 100px;
    width: 100px;
    line-height: 50px;
    font-size: 15px;
    color: rgb(243, 243, 243);
    padding-left: 40px;
    box-sizing: border-box;
}
.conten{
    position: fixed;
    padding-top: 30px;
    padding-bottom: 100%;
    padding-right: 100%;
    left: 300px;
    width: 50%;
    display: block;
    overflow-x: auto;
    max-width: 100%;
    /* height: 100%; */

*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hindari scroll horizontal */
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: rgb(0, 0, 151);
    overflow-y: auto; /* Sidebar bisa di-scroll jika menu panjang */
}

.sidebar header {
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: rgb(40, 42, 133);
    user-select: none;
}

.sidebar ul a {
    height: 100px;
    width: 100px;
    line-height: 50px;
    font-size: 15px;
    color: rgb(243, 243, 243);
    padding-left: 40px;
    box-sizing: border-box;
}

.conten {
    position: relative; /* Ubah dari fixed ke relative */
    padding-top: 30px;
    left: 260px; /* Menyesuaikan posisi agar tidak tumpang tindih sidebar */
    width: calc(100% - 260px); /* Lebar penuh kecuali area sidebar */
    min-height: 100vh; /* Pastikan tinggi minimum 100% layar */
    overflow: auto; /* Bisa di-scroll */
}



